<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
   <title>NavIC</title>
  </head>
  <body>
      <center>
    <h1>Disaster management system</h1>
    <h3>A NavIC based project</h3>
      </center>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">NavIC</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/index2">Project</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="index4.html">About</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
          <div class="alert alert-dark" role="alert">
             <p>Indian regional navigation satellite system(IRNSS) is a constellation consisting of 7 satellites which cover a particular area around Indian subcontinent.
                It provides accurate real time postioning and database services, which includes India and a region extending 1600km around it.
              </p>
              <hr>
              <p class="mb-0">NavIC system is handled by ISRO, which plans on increasing the number of satellites from 7 to 11 for extending the coverage</p>
            </div>
            <div class="container">
              <center>
                  <div class="row">
                    <div class="col">
                      <div class="alert alert-primary" role="alert">
                           
                           <h5><span class="badge badge-light"><a href="/index2" class="alert-link">NavIC location service</a></span></h5>
                        </div>
                    </div>
                   
                  </div>
                </center>
              </div>
                  <blockquote class="blockquote text-center">
                  <p class="mb-0"><strong><u>Disaster management project</u></strong></p>
                </blockquote>
                <div class="container-fluid">
                  <center>
                  This website provides satellite navigation service in an emerging satellite based system with commercial and strategic applications.
                <h6>This website allows you to track the NavIC chip placed on a drone which is used for locating & surveying the unreachable areas.<br> Drones nowadays have become more common in use by people for many applications such as, photography, surveying, videography, and some defence purposes.
                    <br>The drones are popular for one main thing,i.e. their reach.<br>
                    The drone can reach places easily which a human being cannot, and the size of drones can also be customized according to the need.<br>
                    <h4> 

                    </h4> 
                </h6>
              </center>
                  </div>
                  <center><img src="D:\website\projdrone.jpg" width="500px" height="300px"></center>
                 <p>
                   In recent times we focusing many problems with with natural disaster that are occuring in our country as well as across the world.<br>During such natural disaster like food,land scaping etc... there might be a places where humans cannot reach.<br>In order to overcome this problem, drone can be helpful in surveing the flooded areas and can help the people suffering due to floods due to as well as during as during land scape.<br>We use four, arms X-configration which are easy controllable.<br>Here comes the main creteria i.e,using navIC chip with drone so how do we connect navIC chip with the drone?<br>Yeswe can connect the navIC chip with drones eithr by fixing the inside the body or fixing it on the body.<br>now the point is how can we get the exact location of such phenomenon when it occurs?<br>The navIC chip which is in contact with the drone collect the data based on longitude and latitude.
                   <br>These data is decoded and shown on the map.<br>This way we can find the exact location of the drone and the place.<br>   
                 </p>
      <script src="js/bootstrap.bundle.min.js.map"></script>
    </body>
</html>