<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
   <title>NavIC</title>
  </head>
  <body>
      <center>
    <h1><u>Disaster management system</u></h1>
    <h3><u>A NavIC based project</u></h3>
      </center>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">NavIC</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/index2">Project</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="/index4">About</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      <h2><u><b><em>Project:</em></b></u></h2>
      <h2>
        
      </h2>
      
        <h3>
          <ul>location tracking<br>
            location based surveying<br>
            rescue aid<br>
          </ul> 
          <ul>longitude: <%=longitude %></ul>
          <ul>longititude: <%=latitude %></ul>
        </h3>
        <center>
          <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
        </center>
        <script type="text/javascript">
          var src1 = "https://maps.google.com/maps?q=";
          var src2 =  "%2c";
          var src3 =  "&t=&z=13&ie=UTF8&iwloc=&output=embed";
          var longitude = "<%=longitude %>";
          var latitude = "<%=latitude %>";

          console.log("longititude = " + longitude);
          console.log("latitude = " + latitude);

          var source = src1 + longitude + src2 +  latitude + src3;

          document.getElementById('gmap_canvas').setAttribute('src',source);

        </script>
      </body>
      </html>


        